{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/pages/history.js') }}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>

    <div class="container justify-content-center align-items-center">
        <div id="history_content"class="container">
            <div class="row justify-content-center">
                <h2>Recommendations Movie History</h2>
            </div>

            <div class="row pt-4">
                <table class="table table-striped display m-0" id="history_table">
                    <thead>
                        <tr style="font-size: 15px">
                            <th style="min-width:150px">Title</th>
                            <th style="min-width:30px">Rating</th>
                            <th style="min-width:150px">Suggested Movies</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>LOADING DATA...</td>
                            <td>LOADING DATA...</td>
                            <td>LOADING DATA...</td>
                            <!-- <td>People vs. Larry Flynt, The (1996)</td>
                            <td>1</td>
                            <td>Fall (1997), Shadows (Cienie) (1988), The Courtyard (1995), Safe Passage (1994), Yankee Zulu (1994)</td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}