{% extends "base.html" %}

{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/pages/login.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/login.css') }}" />

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <h1 class="h3 mb-5 font-weight-normal">Welcome to MovieTop5</h1>
        </div>
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <div class="row justify-content-center align-items-center">
                    <ul class="nav nav-tabs" id="tab" role="tablist">
                        <li class="nav-item">
                            {% if tabLoginActive %}
                            <a class="nav-link active" id="sign-in-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                            {% else %}
                            <a class="nav-link" id="sign-in-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            {% if tabRegisterActive %}
                            <a class="nav-link active" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                            {% else %}
                            <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="row justify-content-center align-items-center">
                    <div class="tab-content" id="tabContent">
                        {% if tabLoginActive %}
                        <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="sign-in-tab"> 
                        {% else %}
                        <div class="tab-pane fade" id="signin" role="tabpanel" aria-labelledby="sign-in-tab"> 
                        {% endif %}
                            <form class="p-3" action="/webui/login/signin" method="post" novalidate>
                                {{ form.hidden_tag() }}
                                {% with messages = get_flashed_messages(category_filter=["loginError"]) %}
                                    {% if messages %}
                                        {% for message in messages %}
                                            <span id="login_error" style="color: red;font-size: 18px;">[{{ message }}]</span>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                                <div class="form-group">
                                        {{ form.userName.label(class_="label-bold") }}
                                        {{ form.userName(size=20, maxlength=15, class_="form-control top") }}
                                        {% for error in form.userName.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                </div>                                
                                <div class="form-group">
                                        {{ form.userPassword.label(class_="label-bold") }}
                                        {{ form.userPassword(size=20, maxlength=10, class_="form-control top") }}
                                        {% for error in form.userPassword.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                </div>
                                <p>{{ form.submitLogin(class_="btn btn-lg btn-primary btn-block") }}</p>
                            </form>
                        </div>
                        {% if tabRegisterActive %}
                        <div class="tab-pane fade show active" id="register" role="tabpanel" aria-labelledby="register-tab">
                        {% else %}
                        <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                        {% endif %}
                            <form class="p-3" action="/webui/login/register" method="post" novalidate>
                                {{ registerForm.hidden_tag() }}
                                {% with messages = get_flashed_messages(category_filter=["registerError"]) %}
                                    {% if messages %}
                                        {% for message in messages %}
                                            <span id="register_error" style="color: red;font-size: 18px;">[{{ message }}]</span>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                                <div class="form-group">
                                        {{ registerForm.registerName.label(class_="label-bold") }}
                                        {{ registerForm.registerName(size=20, maxlength=15, class_="form-control top") }}
                                        {% for error in registerForm.registerName.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                </div>
                                <div class="form-group">
                                        {{ registerForm.registerUserName.label(class_="label-bold") }}
                                        {{ registerForm.registerUserName(size=20, maxlength=15, class_="form-control top") }}
                                        {% for error in registerForm.registerUserName.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                </div>
                                <div class="form-group">
                                        {{ registerForm.registerUserPassword.label(class_="label-bold") }}
                                        {{ registerForm.registerUserPassword(size=20, maxlength=15, class_="form-control top") }}
                                        {% for error in registerForm.registerUserPassword.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                </div>
                                <p>{{ registerForm.submitRegister(class_="btn btn-lg btn-primary btn-block") }}</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}